/* 메인 홈페이지 */
.container {
    display: grid;
    margin-inline: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1.5fr 4fr;
    gap: 1rem;
    justify-content: center;
}
/* 그리드 세로 길게 */
.item_long { 
    grid-column-start: 1;
    grid-column-end: 3;
}
/* 그리드 세로 한칸 */
.item {
}

/* 섹션 이동 버튼 */
.btn_move_section {
    /* 버튼 디자인 */
    width: 100%; 
    height: 100%; 
    border: none;
    border-radius: 10px;
    background-color: white;
    /* 박스 그림자 */
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    /* 폰트 크키 및 위치 */
    font-size: small;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    padding-left: 1rem;
    padding-bottom: 1rem;
}
/* 비대면 수의사 상담 버튼 배경 이미지 */
.non_meet_consertbtn_img {
    background-image: url('./Image/cure_dog.png');
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: right top;
}
/* AI 건강 체크 버튼 배경 이미지 */
.ai_healthcheckbtn_img {
    background-image: url('./Image/take_picdog.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right bottom;
}
/* 커뮤니티 버튼 배경 이미지 */
.communitybtn_img {
    background-image: url('./Image/play_dog.png');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: right bottom;
}
/* 임시 달력 이미지 */
.cal_img{
    width: 90%;
    padding: 1em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 10px;
    background-color: white;
}

/* 버튼 호버 엑션(그림자) */
.btn_move_section:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

